# PIN entry program
pinentry-program /usr/local/bin/custom-pinentry
pinentry-timeout 10

# Cache settings
default-cache-ttl 600
default-cache-ttl-ssh 600
max-cache-ttl 7200
max-cache-ttl-ssh 7200

# GPG support for SSH Agent
enable-ssh-support
